name: ci-cd.yml

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push Docker image
      run: |
        docker build -t bineetvish/wisecow-app:latest .
        docker push bineetvish/wisecow-app:latest
      

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Set up Minikube
      run: |
        sudo curl -LO https://storage.googleapis.com/minikube/releases/latest/minikube-linux-amd64
        sudo install minikube-linux-amd64 /usr/local/bin/minikube && rm minikube-linux-amd64
        minikube start

    - name: Install kubectl
      uses: azure/setup-kubectl@v1
      with:
        version: 'v1.21.0'
    - name: Deploy to Kubernetes
      run: | 
          
           kubectl apply -f  https://raw.githubusercontent.com/bineetvish/project/main/testcow.yml
           kubectl apply -f  https://raw.githubusercontent.com/bineetvish/project/main/service.yml
           kubectl get service
           kubectl get pods


